/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea
.idea/*
demo/.nrepl-port
demo/target/repl-port
demo/target/classes/META-INF/maven/demo/demo/pom.properties
demo/target/stale/leiningen.core.classpath.extract-native-dependencies
